In [1]:
import pandas as pd

In [56]:
df = pd.read_csv('adult/adult.data', header = None, names = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income'])
df.head(20)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K

In [4]:
# Число столбцов в наборе данных? 
num_colums = df.shape[1]
print(f"Количество столбцов: {num_colums}")

Количество столбцов: 15

In [52]:
# Есть ли пропуски в данных? Если есть, то в каких столбцах

missing_data = {}

for column in df.columns:
    num_missing = (df[column] == ' ?').sum()
    
    if num_missing > 0:
        missing_data[column] = num_missing

if missing_data:
    print("Столбцы, содержащие пропуски :")
    for column, count in missing_data.items():
        print(f"{column}: {count} пропущенных значений")
else:
    print("Пропуски отсутствуют во всех столбцах.")

Столбцы, содержащие пропуски :
workclass: 1836 пропущенных значений
occupation: 1843 пропущенных значений
native-country: 583 пропущенных значений

In [40]:
# Кол-во уникальных значений в столбце race
num_unique_races = df['race'].nunique()

print(f"Количество уникальных значений в столбце 'race': {num_unique_races}")

Количество уникальных значений в столбце 'race': 5

In [43]:
# Медиана hours-per-week
median_hours_per_week = df['hours-per-week'].median()

print(f"Медиана hours-per-week: {median_hours_per_week}")

Медиана hours-per-week: 40.0

In [50]:
# Кого больше - женщин или мужчин с ЗП >50K?

high_earners = df[df['income'] == ' >50K'] 


num_males = (high_earners['sex'] == ' Male').sum()
num_females = (high_earners['sex'] == ' Female').sum()


if num_males > num_females:
    print("Мужчин с ЗП > 50K больше, чем женщин.")
elif num_females > num_males:
    print("Женщин с ЗП > 50K больше, чем мужчин.")
else:
    print("Количество мужчин и женщин с ЗП > 50K одинаково.")

print(f"Мужчин: {num_males}, Женщин: {num_females}")

Мужчин с ЗП > 50K больше, чем женщин.
Мужчин: 6662, Женщин: 1179

In [59]:
# Заполните пропущенные данные в отдельных столбцах наиболее встречаемыми значениями. Как еще можно было бы заполнить пропущенные данные?
columns = ['workclass', 'occupation', 'native-country']
for col in columns:
    most_common = df[col].mode()[0]
    df.replace({col: ' ?'}, most_common, inplace=True)